.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.DS_Store
/docs/site_libs
.DS_Store
.DS_Store
.DS_Store
.DS_Store
index_data/Lab3_DR_G_ACS_Pennsylvania.gpkg
docs/index_data/Lab3_DR_G_ACS_Pennsylvania.gpkg
index_data/Lab3UFO_DR_G_Pennsylvania.csv
docs/index_data/Lab3UFO_DR_G_Pennsylvania.csv
